In [1]:
! pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/0c/94/e4181a1f6286f545507528c78016e00065ea913276888db2262507693ce5/PyMySQL-1.1.1-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 50.4 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/45.0 kB 50.4 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 56.2 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 57.0 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
from sqlalchemy import create_engine

In [3]:
import pandas as pd
from scipy import stats

In [4]:
pd.set_option("display.max_columns", None)

In [ ]:
# Connexion à une base MySQL
engine = create_engine("mysql+pymysql://root:password@localhost:3306/classicmodels")

# **Comparison of revenue's mean of offices in EMEA and those in NA**

In [17]:
# Faire des jointures entre les tables et les récuperer

df1 = pd.read_sql("Select o.* ," \
"e.*, c.*, p.* from offices o " \
"join employees e on e.officeCode = o.officeCode " \
"join customers c on c.salesRepEmployeeNumber = e.employeeNumber " \
"join payments p on p.customerNumber = c.customerNumber", con=engine)


df1

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,customerNumber,checkNumber,paymentDate,amount
0,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370,21000.0,103,HQ336336,2004-10-19,6066.78
1,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370,21000.0,103,JM555205,2003-06-05,14571.44
2,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370,21000.0,103,OM314933,2004-12-18,1676.14
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800.0,112,BO864823,2004-12-17,14191.12
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800.0,112,HQ55022,2003-06-06,32641.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188,85100.0,495,BH167026,2003-12-26,59265.14
269,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188,85100.0,495,FN155234,2004-05-14,6276.60
270,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612,110000.0,496,EU531600,2005-05-25,30253.75
271,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612,110000.0,496,MB342426,2003-07-16,32077.44
272,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612,110000.0,496,MN89921,2004-12-31,52166.00

In [18]:
df1.columns

Index(['officeCode', 'city', 'phone', 'addressLine1', 'addressLine2', 'state',
       'country', 'postalCode', 'territory', 'employeeNumber', 'lastName',
       'firstName', 'extension', 'email', 'officeCode', 'reportsTo',
       'jobTitle', 'customerNumber', 'customerName', 'contactLastName',
       'contactFirstName', 'phone', 'addressLine1', 'addressLine2', 'city',
       'state', 'postalCode', 'country', 'salesRepEmployeeNumber',
       'creditLimit', 'customerNumber', 'checkNumber', 'paymentDate',
       'amount'],
      dtype='object')

In [19]:
df1 = df1.loc[:, ~df1.columns.duplicated()]

In [20]:
df2 = df1[df1["territory"].isin(["EMEA", "NA"])]
df2

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle,customerNumber,customerName,contactLastName,contactFirstName,salesRepEmployeeNumber,creditLimit,checkNumber,paymentDate,amount
0,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,1370,21000.0,HQ336336,2004-10-19,6066.78
1,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,1370,21000.0,JM555205,2003-06-05,14571.44
2,4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,Schmitt,Carine,1370,21000.0,OM314933,2004-12-18,1676.14
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,King,Jean,1166,71800.0,BO864823,2004-12-17,14191.12
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,King,Jean,1166,71800.0,HQ55022,2003-06-06,32641.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1143,Sales Rep,487,Signal Collectibles Ltd.,Taylor,Sue,1165,60300.0,PT550181,2004-02-29,12573.28
266,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,1501,43300.0,OC773849,2003-12-04,22275.73
267,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,1501,43300.0,PO860906,2004-01-31,7310.42
268,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,Franco,Valarie,1188,85100.0,BH167026,2003-12-26,59265.14
269,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,Franco,Valarie,1188,85100.0,FN155234,2004-05-14,6276.60

In [21]:
df3 = df2[["officeCode", "city", "state", "country", "employeeNumber",	"territory", "employeeNumber", "lastName",	"firstName",	"email",	"reportsTo", 	"jobTitle",
           	"customerNumber",	"customerName", "checkNumber",	"paymentDate",	"amount"]]
df3

,officeCode,city,state,country,employeeNumber,territory,employeeNumber,lastName,firstName,email,reportsTo,jobTitle,customerNumber,customerName,checkNumber,paymentDate,amount
0,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,HQ336336,2004-10-19,6066.78
1,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,JM555205,2003-06-05,14571.44
2,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,OM314933,2004-12-18,1676.14
3,1,San Francisco,CA,USA,1166,NA,1166,Thompson,Leslie,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,BO864823,2004-12-17,14191.12
4,1,San Francisco,CA,USA,1166,NA,1166,Thompson,Leslie,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,HQ55022,2003-06-06,32641.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,1,San Francisco,CA,USA,1165,NA,1165,Jennings,Leslie,ljennings@classicmodelcars.com,1143,Sales Rep,487,Signal Collectibles Ltd.,PT550181,2004-02-29,12573.28
266,7,London,None,UK,1501,EMEA,1501,Bott,Larry,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",OC773849,2003-12-04,22275.73
267,7,London,None,UK,1501,EMEA,1501,Bott,Larry,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",PO860906,2004-01-31,7310.42
268,2,Boston,MA,USA,1188,NA,1188,Firrelli,Julie,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,BH167026,2003-12-26,59265.14
269,2,Boston,MA,USA,1188,NA,1188,Firrelli,Julie,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,FN155234,2004-05-14,6276.60

## **Checking the normality of data**

In [25]:
grp_EMEA = df3.loc[df3["territory"] == "EMEA"]
grp_EMEA

,officeCode,city,state,country,employeeNumber,territory,employeeNumber,lastName,firstName,email,reportsTo,jobTitle,customerNumber,customerName,checkNumber,paymentDate,amount
0,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,HQ336336,2004-10-19,6066.78
1,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,JM555205,2003-06-05,14571.44
2,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,103,Atelier graphique,OM314933,2004-12-18,1676.14
10,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,119,La Rochelle Gifts,DB933704,2004-11-14,19501.82
11,4,Paris,None,France,1370,EMEA,1370,Hernandez,Gerard,ghernande@classicmodelcars.com,1102,Sales Rep,119,La Rochelle Gifts,LN373447,2004-08-08,47924.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,4,Paris,None,France,1401,EMEA,1401,Castillo,Pamela,pcastillo@classicmodelcars.com,1102,Sales Rep,473,Frau da Collezione,PC688499,2003-10-27,17746.26
259,4,Paris,None,France,1702,EMEA,1702,Gerard,Martin,mgerard@classicmodelcars.com,1102,Sales Rep,484,"Iberia Gift Imports, Corp.",GK294076,2004-10-26,3474.66
260,4,Paris,None,France,1702,EMEA,1702,Gerard,Martin,mgerard@classicmodelcars.com,1102,Sales Rep,484,"Iberia Gift Imports, Corp.",JH546765,2003-11-29,47513.19
266,7,London,None,UK,1501,EMEA,1501,Bott,Larry,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",OC773849,2003-12-04,22275.73
267,7,London,None,UK,1501,EMEA,1501,Bott,Larry,lbott@classicmodelcars.com,1102,Sales Rep,489,"Double Decker Gift Stores, Ltd",PO860906,2004-01-31,7310.42

In [26]:
grp_NA = df3.loc[df3["territory"] == "NA"]
grp_NA

,officeCode,city,state,country,employeeNumber,territory,employeeNumber,lastName,firstName,email,reportsTo,jobTitle,customerNumber,customerName,checkNumber,paymentDate,amount
3,1,San Francisco,CA,USA,1166,NA,1166,Thompson,Leslie,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,BO864823,2004-12-17,14191.12
4,1,San Francisco,CA,USA,1166,NA,1166,Thompson,Leslie,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,HQ55022,2003-06-06,32641.98
5,1,San Francisco,CA,USA,1166,NA,1166,Thompson,Leslie,lthompson@classicmodelcars.com,1143,Sales Rep,112,Signal Gift Stores,ND748579,2004-08-20,33347.88
17,1,San Francisco,CA,USA,1165,NA,1165,Jennings,Leslie,ljennings@classicmodelcars.com,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,AE215433,2005-03-05,101244.59
18,1,San Francisco,CA,USA,1165,NA,1165,Jennings,Leslie,ljennings@classicmodelcars.com,1143,Sales Rep,124,Mini Gifts Distributors Ltd.,BG255406,2004-08-28,85410.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,3,NYC,NY,USA,1323,NA,1323,Vanauf,George,gvanauf@classicmodelcars.com,1143,Sales Rep,486,Motor Mint Distributors Inc.,JB117768,2003-03-20,25833.14
264,1,San Francisco,CA,USA,1165,NA,1165,Jennings,Leslie,ljennings@classicmodelcars.com,1143,Sales Rep,487,Signal Collectibles Ltd.,AH612904,2003-09-28,29997.09
265,1,San Francisco,CA,USA,1165,NA,1165,Jennings,Leslie,ljennings@classicmodelcars.com,1143,Sales Rep,487,Signal Collectibles Ltd.,PT550181,2004-02-29,12573.28
268,2,Boston,MA,USA,1188,NA,1188,Firrelli,Julie,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,BH167026,2003-12-26,59265.14
269,2,Boston,MA,USA,1188,NA,1188,Firrelli,Julie,jfirrelli@classicmodelcars.com,1143,Sales Rep,495,Diecast Collectables,FN155234,2004-05-14,6276.60

In [27]:
stats.shapiro(grp_EMEA["amount"])

ShapiroResult(statistic=0.9189806170921214, pvalue=9.843043348155202e-07)

Data are not normaly distributed, so let's apply non-parametric hypothesis testing

## **Applying the right test**

In [30]:
stats.mannwhitneyu(grp_EMEA["amount"], grp_NA["amount"], alternative = "two-sided")

MannwhitneyuResult(statistic=6577.0, pvalue=0.7991841669957409)

pvalue is closed to 1. That means, the two groups have almost the same revenue's mean

# **Analyzing whether sales are significantly different accross product lines or not**

In [10]:
datf1 = pd.read_sql(
    """
    SELECT pdl.*, pd.*, od.*, o.*
    FROM productlines pdl
    JOIN products pd ON pdl.productLine = pd.productLine
    JOIN orderdetails od ON od.productCode = pd.productCode
    JOIN orders o ON o.orderNumber = od.orderNumber
    WHERE o.status = 'Shipped'
    """,
    con=engine
)

datf1

,productLine,textDescription,htmlDescription,image,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,10100,S18_1749,30,136.00,3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54,10100,S18_2248,50,55.09,2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
2,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03,10100,S18_4409,22,75.46,4,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
3,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03,10100,S24_3969,49,35.29,1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
4,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13,10101,S18_2325,25,108.06,4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34,10419,S18_3232,35,165.95,6,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2767,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S18_3685,1948 Porsche Type 356 Roadster,Classic Cars,1:18,Gearbox Collectibles,This model features working front and rear sus...,8990,62.16,141.28,10419,S18_3685,43,114.44,3,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2768,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_2972,1982 Lamborghini Diablo,Classic Cars,1:24,Second Gear Diecast,"This replica features opening doors, superb de...",7723,16.24,37.76,10419,S24_2972,15,32.10,7,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2769,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_3371,1971 Alpine Renault 1600s,Classic Cars,1:24,Welly Diecast Productions,This 1971 Alpine Renault 1600s replica Feature...,7995,38.58,61.23,10419,S24_3371,55,52.66,12,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2770,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_3856,1956 Porsche 356A Coupe,Classic Cars,1:18,Classic Metal Creations,Features include: Turnable front wheels; steer...,6600,98.30,140.43,10419,S24_3856,70,112.34,8,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382

In [12]:
datf1 = datf1.loc[:, ~datf1.columns.duplicated()]
datf1

,productLine,textDescription,htmlDescription,image,productCode,productName,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach,orderLineNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_1749,1917 Grand Touring Sedan,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,10100,30,136.00,3,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
1,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_2248,1911 Ford Town Car,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54,10100,50,55.09,2,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
2,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03,10100,22,75.46,4,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
3,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S24_3969,1936 Mercedes Benz 500k Roadster,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03,10100,49,35.29,1,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363
4,Vintage Cars,Our Vintage Car models realistically portray a...,None,None,S18_2325,1932 Model A Ford J-Coupe,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13,10101,25,108.06,4,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S18_3232,1992 Ferrari 360 Spider red,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34,10419,35,165.95,6,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2767,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S18_3685,1948 Porsche Type 356 Roadster,1:18,Gearbox Collectibles,This model features working front and rear sus...,8990,62.16,141.28,10419,43,114.44,3,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2768,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_2972,1982 Lamborghini Diablo,1:24,Second Gear Diecast,"This replica features opening doors, superb de...",7723,16.24,37.76,10419,15,32.10,7,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2769,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_3371,1971 Alpine Renault 1600s,1:24,Welly Diecast Productions,This 1971 Alpine Renault 1600s replica Feature...,7995,38.58,61.23,10419,55,52.66,12,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382
2770,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None,S24_3856,1956 Porsche 356A Coupe,1:18,Classic Metal Creations,Features include: Turnable front wheels; steer...,6600,98.30,140.43,10419,70,112.34,8,2005-05-17,2005-05-28,2005-05-19,Shipped,None,382

In [13]:
datf1.columns

Index(['productLine', 'textDescription', 'htmlDescription', 'image',
       'productCode', 'productName', 'productScale', 'productVendor',
       'productDescription', 'quantityInStock', 'buyPrice', 'MSRP',
       'orderNumber', 'quantityOrdered', 'priceEach', 'orderLineNumber',
       'orderDate', 'requiredDate', 'shippedDate', 'status', 'comments',
       'customerNumber'],
      dtype='object')

In [14]:
datf2 = datf1[['productLine',
       'productCode', 'productName', 'productScale', 'buyPrice', 'MSRP',
       'orderNumber', 'quantityOrdered', 'priceEach']]
datf2

,productLine,productCode,productName,productScale,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach
0,Vintage Cars,S18_1749,1917 Grand Touring Sedan,1:18,86.70,170.00,10100,30,136.00
1,Vintage Cars,S18_2248,1911 Ford Town Car,1:18,33.30,60.54,10100,50,55.09
2,Vintage Cars,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,1:18,43.26,92.03,10100,22,75.46
3,Vintage Cars,S24_3969,1936 Mercedes Benz 500k Roadster,1:24,21.75,41.03,10100,49,35.29
4,Vintage Cars,S18_2325,1932 Model A Ford J-Coupe,1:18,58.48,127.13,10101,25,108.06
...,...,...,...,...,...,...,...,...,...
2766,Classic Cars,S18_3232,1992 Ferrari 360 Spider red,1:18,77.90,169.34,10419,35,165.95
2767,Classic Cars,S18_3685,1948 Porsche Type 356 Roadster,1:18,62.16,141.28,10419,43,114.44
2768,Classic Cars,S24_2972,1982 Lamborghini Diablo,1:24,16.24,37.76,10419,15,32.10
2769,Classic Cars,S24_3371,1971 Alpine Renault 1600s,1:24,38.58,61.23,10419,55,52.66
2770,Classic Cars,S24_3856,1956 Porsche 356A Coupe,1:18,98.30,140.43,10419,70,112.34

In [19]:
datf2["Amount"] = datf2["priceEach"]*datf2["quantityOrdered"]

C:\Users\HP\AppData\Local\Temp\ipykernel_26300\2959870640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datf2["Amount"] = datf2["priceEach"]*datf2["quantityOrdered"]

In [20]:
datf2["productLine"].unique()

array(['Vintage Cars', 'Classic Cars', 'Trucks and Buses', 'Trains',
       'Ships', 'Planes', 'Motorcycles'], dtype=object)

In [21]:
grp_vint = datf2[datf2["productLine"] == 'Vintage Cars']
grp_clas = datf2[datf2["productLine"] == 'Classic Cars']
grp_truc = datf2[datf2["productLine"] == 'Trucks and Buses']
grp_tr = datf2[datf2["productLine"] == 'Trains']
grp_ships = datf2[datf2["productLine"] == 'Ships']
grp_planes = datf2[datf2["productLine"] == 'Planes']
grp_moto = datf2[datf2["productLine"] == 'Motorcycles']

## **Checking the normality of data**

In [22]:
stats.shapiro(grp_vint["Amount"])

ShapiroResult(statistic=0.9383480947060481, pvalue=4.1288832393011e-15)

Data are not normaly distributed, so let's apply non-parametric hypothesis testing

## **Applying the right test**

In [24]:
stats.kruskal(grp_vint["Amount"], grp_clas["Amount"], grp_truc["Amount"], 
              grp_tr["Amount"], grp_ships["Amount"], grp_planes["Amount"], grp_moto["Amount"])

KruskalResult(statistic=217.7472749669812, pvalue=3.144654948217092e-44)

pvalue is closed to 0. That means sales are significanty diffrenent accross productlines